@model PokemonApp.Models.PokemonVM

@{
    ViewData["Title"] = "FormularioPokemon";
}

<h4>Modificar Pokemon</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="ModificarPokemon">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pokemon.Id" class="control-label"></label>
                <input asp-for="Pokemon.Id" class="form-control" />
                <span asp-validation-for="Pokemon.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.Numero" class="control-label"></label>
                <input asp-for="Pokemon.Numero" class="form-control" />
                <span asp-validation-for="Pokemon.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.Nombre" class="control-label"></label>
                <input asp-for="Pokemon.Nombre" class="form-control" />
                <span asp-validation-for="Pokemon.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.Descripcion" class="control-label"></label>
                <input asp-for="Pokemon.Descripcion" class="form-control" />
                <span asp-validation-for="Pokemon.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.UrlImagen" class="control-label"></label>
                <input asp-for="Pokemon.UrlImagen" class="form-control" />
                <span asp-validation-for="Pokemon.UrlImagen" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pokemon.Activo" /> @Html.DisplayNameFor(model => model.Pokemon.Activo)
                </label>
            </div>
            <div class="form-group mt-1">
                <label asp-for="Pokemon.Tipo.Descripcion" class="control-label"></label>
                @Html.DropDownList("Tipo", Model.PokemonTipoSelectList as SelectList, "Descripcion", new { @class = "form-control"})
            </div>
            <div class="form-group mt-1">
                <label asp-for="Pokemon.Debilidad" class="control-label"></label>
                @Html.DropDownList("Debilidad", Model.PokemonDebilidadSelectList as SelectList, "Descripcion", new { @class = "form-control"})
               
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.UrlImagen" class="control-label"></label>
                <input asp-for="Pokemon.UrlImagen" class="form-control" />
                <span asp-validation-for="Pokemon.UrlImagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>